<ion-pane class="standard">

    <div class="topBar">
        <a href="#/home"><i class="icon ion-android-arrow-back logout"></i></a>
    </div>

    <h1 class="title">CHALLENGEs</h1>

    <button class="button button-alloyBlue profileBtn" ng-repeat="challenge in data.challenges" ng-click="data.challenge.selectChallenge(challenge)">
        <div>
            <img ng-src="http://graph.facebook.com/{{challenge.challenger}}/picture?width=270&height=270" class="profileImg"/>
            <span class="name">{{  data.challenge.getHours(challenge.sendDate) }}</span>
            <span class="score"></span>
        </div>    
    </button>


</ion-pane>