<ion-content class="standard" overflow-scroll="true">

    <div class="topBar">
        <a href="#/choose">
            <i class="icon ion-android-arrow-back logout"></i>
        </a>
        <a href="#" style="float:right">
            <i class="icon ion-navicon-round "></i>
        </a>
    </div>

    <div class="kindaBtn button-alloyBlue profileBtn" ng-click="displayEmojis = false">
        <div>
            <img class="profileImg" src="img/enter-words.png"/>
            <input class="captionContainer" maxlength="29" ng-model="answer" reg-ex-input reg-ex="^[a-zA-Z0-9 ]+$" placeholder="Word to Guess" type="text">
        </div>
    </div>

    <div style="display: inline-flex;">

        <div class="kindaBtn button-alloyBlue profileBtn enterEmoji" 
                ng-click="displayEmojis = true" style="padding: 0;">
            <div style="display: inline-flex;">
                <img class="profileImg" src="img/smile.png" style="float: left"/>
                <span class="captionContainer guessEmoji"
                ng-click="changeInput('caption')">
                    <span ng-bind-html="cap | emoji"
                    ng-click="data.delete($index)"
                    ng-repeat="cap in data.caption track by $index"></span>
                </span>
            </div>
        </div>

        <div class="enterClue" ng-click="displayEmojis = true">
            <div>
                <span class="captionContainer guessEmoji" style="width: 4em !important;"
                ng-click="changeInput('clue')">
                    <span ng-bind-html="cap | emoji"
                    ng-click="data.deleteClue($index)"
                    ng-repeat="cap in data.clue track by $index"></span>
                </span>
            </div>
        </div>
    </div>

    <div style="display: inline-flex;">
        <div class="circleImg" style="margin-right: 25px">
            <img ng-if="challenge.data.opponent.id == 0 || challenge.data.opponent.name == 'Random'" src="img/random.png">
            <img ng-if="challenge.data.opponent.id != 0" ng-src="http://graph.facebook.com/{{challenge.data.opponent.id}}/picture">
        </div>

        <button class="button button-balanced" ng-click="challenge.sendChallenge(answer, data.caption, data.clue); loader" style="height: 50px; margin-top:10px">
            SEND CHALLENGE
        </button>
    </div>

    <div ng-show="displayEmojis">
        <div class="card displayEmojis" style="margin-bottom:0; height: 50%;">
            <div class="item item-divider" style="min-height:45px; padding-left:0">
                <div class="tabs tabs-icon-only" style="background-color: #0090c5">
                    <a class="tab-item" ng-click="data.changeMinMax('people')">
                        <i class="icon ion-happy-outline"></i>
                    </a>
                    <a class="tab-item" ng-click="data.changeMinMax('nature')">
                        <i class="icon ion-ios-paw"></i>
                    </a>
                    <a class="tab-item" ng-click="data.changeMinMax('items')">
                        <i class="icon ion-bowtie"></i>
                    </a>
                    <a class="tab-item" ng-click="data.changeMinMax('house')">
                        <i class="icon ion-home"></i>
                    </a>
                    <a class="tab-item" ng-click="data.changeMinMax('random')">
                        <i class="icon ion-help"></i>
                    </a>
                    <a class="button" ng-click="displayEmojis = false" style="background-color: #B85B5D">
                        <i class="icon ion-close-round"></i>
                    </a>
                </div>
            </div>
        </div>
        <div style="overflow-y:auto; height: 275px; background-color: #02d87b; margin: 0 10px;">
            <div style="padding: 15px 0px;">
                <span ng-bind-html="m | emoji"
                ng-if="$index > data.min && $index < data.max"
                ng-repeat="m in data.message"
                select-emoji
                style="display:inline-block; zoom: 1.5;"></span>
            </div>
        </div>
    </div>

</ion-content>
