<ion-pane class="friends">

    <div class="topBar">
        <a href="#/choose">
            <i class="icon ion-android-arrow-back"></i>
        </a>
        <a href="#/" style="float:right">
            <i class="icon ion-navicon-round "></i>
        </a>
    </div>

    <h1 class="title">Play a Friend</h1>

    <button class="button button-balanced profileBtn"
            ng-repeat="friend in friends.data"
            ng-click="chooseOpponent(friend)">
        <div>
            <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=270&height=270" class="profileImg"/>
            <span class="name">{{friend.name}}</span>
            <span class="score">{{friend.score}}</span>
        </div>
    </button>

</ion-pane>
