<ion-pane class="standard">

    <div class="topBar" >
        <a href="#/" style="float:left">
            <i class="icon ion-log-out logout"></i>
        </a>
        <a href="#/menu" style="float:right"  menu-toggle="left">
            <i class="icon ion-navicon-round "></i>
        </a>
    </div>

    <div class="centered">
        <p class="instructions">Start a new game or select one of your challenges.</p>
        <a href="#/choose">
            <button class="button button-positive profileBtn">
                <span>New Game</span>
            </button>
        </a>

        <h2 class="vs">OR</h2>

        <a href="#/challenges" ng-controller="challengesCtrl">
            <button class="button button-balanced profileBtn">
                <span>Challenges</span>
            </button>
        </a>
    </div>

    <div class="ground"></div>

</ion-pane>
