<ion-pane class="standard">

    <div class="topBar" >
        <a href="#/" style="float:left">
            <i class="icon ion-log-out logout"></i>
        </a>
        <a href="#/" style="float:right">
            <i class="icon ion-navicon-round "></i>
        </a>
    </div>
    <div class="intro">
        <h1>Welcome, <br />{{ user.data.name }} ({{user.data.score}})</h1>
    </div>

    <div class="centered">
        <p class="instructions">Start a new game or select one of your challenges.</p>
        <a href="#/choose">
            <button class="button button-positive profileBtn">
                <span>New Game</span>
            </button>
        </a>

        <h2 class="vs">OR</h2>

        <a href="#/challenges" ng-controller="challengesCtrl">
            <button class="button button-balanced profileBtn">
                <span>Challenges: {{ data.totalChallenges }}</span>
            </button>
        </a>
    </div>

    <div class="ground">
        <div style="position: absolute; bottom: 60px; left:35%">
            <a href="#/buyCoins" ng-controller="buyCoinsCtrl">
                <span style="font-size: 35px;">{{ user.data.coins }}</span>
                <img style="width:4em; position: relative; bottom: -15px;
                left: 5px;" src="img/coins.png" />
            </a>
        </div>
    </div>

</ion-pane>
